<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration scan="false" debug="false">
	<property name="APP_NAME" value="sales" />
	<property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5level ${PID} --- [%thread] %logger.%method:%line - %m%n" />
	<contextName>${APP_NAME}</contextName>
	
	<!-- 控制台打印日志的相关配置 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- 日志格式 -->
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>
	
	<!-- 文件保存日志的相关配置 -->
	<appender name="INFO-OUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- 保存日志文件的路径 -->
		<file>logs/info.log</file>
		<!-- 日志格式 -->
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
		<!-- 日志级别过滤器 -->
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<!-- 过滤的级别 -->
			<level>INFO</level>
			<!-- 匹配时的操作：接收（记录） -->
			<onMatch>ACCEPT</onMatch>
			<!-- 不匹配时的操作：拒绝（不记录） -->
			<onMismatch>DENY</onMismatch>
		</filter>
		<!-- 循环政策：基于时间创建日志文件 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 日志文件名格式 -->
			<fileNamePattern>logs/info.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- 最大保存时间 -->
			<maxHistory>7</maxHistory>
		</rollingPolicy>
	</appender>
	
	<!-- 文件保存日志的相关配置 -->
	<appender name="WARN-OUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- 保存日志文件的路径 -->
		<file>logs/warn.log</file>
		<!-- 日志格式 -->
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
		<!-- 日志级别过滤器 -->
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<!-- 过滤的级别 -->
			<level>WARN</level>
			<!-- 匹配时的操作：接收（记录） -->
			<onMatch>ACCEPT</onMatch>
			<!-- 不匹配时的操作：拒绝（不记录） -->
			<onMismatch>DENY</onMismatch>
		</filter>
		<!-- 循环政策：基于时间创建日志文件 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 日志文件名格式 -->
			<fileNamePattern>logs/warn.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- 最大保存时间 -->
			<maxHistory>7</maxHistory>
		</rollingPolicy>
	</appender>

	<!-- 文件保存日志的相关配置 -->
	<appender name="ERROR-OUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- 保存日志文件的路径 -->
		<file>logs/error.log</file>
		<!-- 日志格式 -->
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
		<!-- 日志级别过滤器 -->
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<!-- 过滤的级别 -->
			<level>ERROR</level>
			<!-- 匹配时的操作：接收（记录） -->
			<onMatch>ACCEPT</onMatch>
			<!-- 不匹配时的操作：拒绝（不记录） -->
			<onMismatch>DENY</onMismatch>
		</filter>
		<!-- 循环政策：基于时间创建日志文件 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 日志文件名格式 -->
			<fileNamePattern>logs/error.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- 最大保存时间：30天 -->
			<maxHistory>7</maxHistory>
		</rollingPolicy>
	</appender>

	<!-- 基于dubug处理日志：具体控制台或者文件对日志级别的处理还要看所在appender配置的filter，如果没有配置filter，则使用root配置 -->
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="INFO-OUT" />
		<appender-ref ref="WARN-OUT" />
		<appender-ref ref="ERROR-OUT" />
	</root>
</configuration>
